<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
  <title>Challenge</title>
  <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>

<body>
    <img src="{{url_for('static', filename='captcha.jpg')}}" />
    <br>
    <p>I've to check that you are not one of those dumbass from the Council of Ricks again, please enter the last 8 chars that are showed in the image</p>
    <br>
    <p>Perhaps Morty f... it up again ¡Burp!, We have to do somethig with this kid</p>
    <br>
    <form action="/challenge_validation" method="POST">
    <input type="text" name="passcode">
    <br>
    <input type="submit" value="¡Click Me!">
    </form>

    {% if looser %}
        <p>Im starting to think you are a impostor... Come on... bring it on one more time</p>
    {% endif %}
    {% if winner %}
        <p>You 've allready done this, go to the next thing</p>
        <button onclick="window.location.href='login'">Go to Login</button>
    {% endif %}
<!-- Im RickSanchez from dimension C-130, Im in a super important mission and need your help, I'ts very important that you help me -->
</body>
</html>