<!DOCTYPE html>
<html>

<head>
  <title>
    Morty's Pokedex CTF
  </title>
  <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
  <meta name="viewport" content="width=device-width">
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    .bg {
      /* The image used */
      background-image: url("{{url_for('static', filename='404.jpg')}}");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }
  </style>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E5X6H6190C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E5X6H6190C');
</script>
<body>
  <div class="bg"></div>
  <!-- Hey man, It's me again, RickSanchez from dimension C-130. Have you found something? If you need a some help you could use this: 'https://futureboy.us/stegano/' -->
</body>

</html>