<!DOCTYPE html>
<html>

<head>
  <title>
    Morty's Pokedex CTF
  </title>
  <meta name="viewport" content="width=device-width">
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    .bg {
      /* The image used */
      background-image: url("{{url_for('static', filename='404.jpg')}}");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: auto;
    }
  </style>
</head>

<body>
  <div class="bg"></div>
  <!-- Hey man, It's me again, RickSanchez. Have you found something? If you need a hint remember this: 'a steg is always hide' -->
</body>

</html>