<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">

<head>
    <title>
        Challenge - Morty's Pokedex CTF
    </title>
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E5X6H6190C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E5X6H6190C');
</script>
<body>
    <img src="{{url_for('static', filename='captcha.jpg')}}" />
    <br>
    <p>I have to check that you are not one of those fake Ricks from the Council of ricks again, please enter the license plate of my silver prius (The one that I've used to climb Mt.Washington) that is shown in the image.</p>
    <br>
    <p>Perhaps Morty broke it again ¡Burp!, We have to do somethig with this kid...</p>
    <br>
    <form action="/challenge_validation" method="POST">
        <input type="text" name="passcode">
        <br>
        <input type="submit" value="¡Click Me!">
    </form>

    {% if looser %}
    <p>I'm starting to think you are a impostor... Come on... bring it on one more time</p>
    {% endif %}
    {% if winner %}
    <p>You've already done this, go to the next thing.</p>
    <button onclick="window.location.href='login'">Go to Login</button>
    {% endif %}
    <!-- I'm RickSanchez from dimension C-130, remember Nº of the dimension I came from for further challenges, all the other ricks want to kill me. I'm in a super important mission and need your help, It's very important that you help me -->
</body>

</html>