<!DOCTYPE html>
<html>

<head>
  <title>
    Flag - Morty's Pokedex CTF
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
  <style>
    body,
    html {
      height: 100%;
      margin: 0;
    }

    .bg {
      /* The image used */
      background-image: url("{{url_for('static', filename='flag_found.gif')}}");

      /* Full height */
      height: 100%;

      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-E5X6H6190C"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-E5X6H6190C');
</script>

<body>
  <h1 id="flagMessage"></h1>
  <div class="bg"></div>

  <script>
      function getCookie(name) {
          let cookieArr = document.cookie.split(";");
          for (let i = 0; i < cookieArr.length; i++) {
              let cookiePair = cookieArr[i].split("=");
              if (name == cookiePair[0].trim()) {
                  return decodeURIComponent(cookiePair[1]);
              }
          }
          return null;
      }

      function updateFlagMessage() {
          const nickname = getCookie("nickname");
          if (nickname != null && nickname != "") {
              document.getElementById("flagMessage").innerText = `Congrats ${nickname}, you have found the flag!!!`;
          } else {
              document.getElementById("flagMessage").innerText = "Congrats, you have found the flag!!!";
          }
      }
      updateFlagMessage();
  </script>
</body>

</html>